<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th st-sort="firstName">first name</th>
        <th st-sort="lastName">last name</th>
        <th st-sort="birthDate">birth date</th>
        <th st-sort="balance">balance</th>
        <th>email</th>
    </tr>
    <tr>
        <!--<th colspan="3">
            <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
        </th>-->
        <th colspan="6">
            <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
        <td cs-select="row"></td>
        <td>{{row.firstName | uppercase}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.birthDate | date}}</td>
        <td>{{row.balance | currency}}</td>
        <td><a ng-href="mailto:{{row.email}}">email</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
<a ng-click="getCheckedRows()">checked rows</a>
<a ng-click="clearFilteredList()">clear</a>
{{filteredList}}
